---
import AspectContainer from "../../components/container/aspect-container/AspectContainer.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="h-screen w-screen bg-black">
    <AspectContainer aspectRatio="4:3">
      <div
        class="flex h-full w-full items-center justify-center rounded-lg bg-linear-to-br from-pink-500 to-yellow-500 text-2xl font-bold text-white shadow-lg"
      >
        Full Aspect Container
      </div>
    </AspectContainer>
  </div>
</Layout>
